@import 'variables';

@import 'components/all';

html {
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.mainView {
  width: 100%;
}
