.mainView {
  padding: 5px;
  height: calc(100% - 10px);
  display: flex;
  flex-direction: column;
}

.top {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $darkgrey;
}

.body {
  flex: 3;
  overflow-y: scroll;
}

.container {
  flex: 8;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .container {
    flex: 8;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .searchBox {
    display: none;
  }
}
