.mainView {
  padding: 5px;
  height: calc(100% - 10px);
  display: flex;
  flex-direction: column;
}

.top {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $darkgrey;
}

.body {
  flex: 3;
}

.container {
  flex: 8;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
